In [19]:
import pandas as pd

def add_ngram_frequencies(dataframe):
    ngram_files = {
        1: "corpus/eng_Ngram_corpus/1grams_english.csv",
        2: "corpus/eng_Ngram_corpus/2grams_english.csv",
        3: "corpus/eng_Ngram_corpus/3grams_english.csv",
        4: "corpus/eng_Ngram_corpus/4grams_english.csv",
        5: "corpus/eng_Ngram_corpus/1grams_english.csv"
    }
    
    for n in range(1, 6):
        file_path = ngram_files[n]
        ngram_data = pd.read_csv(file_path)
        freq_column_name = f"{n}gram_freq"
        
        # Initialize the frequency column with NaN values
        dataframe[freq_column_name] = float('nan')
        
        # Iterate over the "word" column
        for index, row in dataframe.iterrows():
            word = row['word']
            
            # Check if the word has the expected number of words
            if len(word.split()) == n or '-' in word:
                # Look up the frequency in the ngram data
                matching_row = ngram_data[ngram_data['ngram'] == word]
                if not matching_row.empty:
                    frequency = matching_row.iloc[0]['freq']
                    dataframe.at[index, freq_column_name] = frequency
    
    return dataframe

In [60]:
import pandas as pd

location =('Data/cwishareddataset/traindevset/english/News_Dev.tsv')
data_frame = pd.read_table(location, names=('ID', 'sentence', 'start_index', 'end_index', 'word', 'total_native',
                                            'total_non_native', 'native_complex', 'non_native_complex', 'complex_binary',
                                            'complex_probabilistic'), encoding='utf-8-sig')
# Read the TSV file into a dataframe


# Display the dataframe
print(data_frame)

                                  ID  \
0     3Z8UJEJOCZEG603II1EL4BE2PV593A
1     3Z8UJEJOCZEG603II1EL4BE2PV593A
2     3Z8UJEJOCZEG603II1EL4BE2PV593A
3     3Z8UJEJOCZEG603II1EL4BE2PV593A
4     3Z8UJEJOCZEG603II1EL4BE2PV593A
...                              ...
1759  37PGLWGSJT7FDZ4S71CXYQU7J7EIKD
1760  37PGLWGSJT7FDZ4S71CXYQU7J7EIKD
1761  37PGLWGSJT7FDZ4S71CXYQU7J7EIKD
1762  37PGLWGSJT7FDZ4S71CXYQU7J7EIKD
1763  37PGLWGSJT7FDZ4S71CXYQU7J7EIKD

                                               sentence  start_index  \
0     Syrian troops shelled a rebel-held town on Mon...            7
1     Syrian troops shelled a rebel-held town on Mon...            0
2     Syrian troops shelled a rebel-held town on Mon...           14
3     Syrian troops shelled a rebel-held town on Mon...           24
4     Syrian troops shelled a rebel-held town on Mon...           51
...                                                 ...          ...
1759  The state will put less than 15 billion euros ...          128
1760  The state will put less than 15 billion euros ...          139
1761  The state will put less than 15 billion euros ...          157
1762  The state will put less than 15 billion euros ...          146
1763  The state will put less than 15 billion euros ...          149

      end_index        word  total_native  total_non_native  native_complex  \
0            13      troops            10                10               0
1             6      Syrian            10                10               0
2            21     shelled            10                10               6
3            34  rebel-held            10                10               4
4            59    sparking            10                10               5
...         ...         ...           ...               ...             ...
1759        132        past            10                10               0
1760        144       years            10                10               0
1761        166   estimated            10                10               2
1762        148          de            10                10               0
1763        156     Guindos            10                10               0

      non_native_complex  complex_binary  complex_probabilistic
0                      0               0                   0.00
1                      0               0                   0.00
2                     10               1                   0.80
3                      3               1                   0.35
4                      5               1                   0.50
...                  ...             ...                    ...
1759                   0               0                   0.00
1760                   0               0                   0.00
1761                   2               1                   0.20
1762                   0               0                   0.00
1763                   0               0                   0.00

[1764 rows x 11 columns]

In [61]:
data_frame

,ID,sentence,start_index,end_index,word,total_native,total_non_native,native_complex,non_native_complex,complex_binary,complex_probabilistic
0,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,7,13,troops,10,10,0,0,0,0.00
1,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,0,6,Syrian,10,10,0,0,0,0.00
2,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,14,21,shelled,10,10,6,10,1,0.80
3,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,24,34,rebel-held,10,10,4,3,1,0.35
4,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,51,59,sparking,10,10,5,5,1,0.50
...,...,...,...,...,...,...,...,...,...,...,...
1759,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,128,132,past,10,10,0,0,0,0.00
1760,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,139,144,years,10,10,0,0,0,0.00
1761,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,157,166,estimated,10,10,2,2,1,0.20
1762,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,146,148,de,10,10,0,0,0,0.00
1763,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,149,156,Guindos,10,10,0,0,0,0.00

In [62]:
import pandas as pd

def add_ngram_frequencies(dataframe):
    ngram_files = {
        1: "corpus/eng_Ngram_corpus/1grams_english.csv",
        2: "corpus/eng_Ngram_corpus/2grams_english.csv",
        3: "corpus/eng_Ngram_corpus/3grams_english.csv",
        4: "corpus/eng_Ngram_corpus/4grams_english.csv",
        5: "corpus/eng_Ngram_corpus/1grams_english.csv"
    }
    
    for n in range(1, 6):
        file_path = ngram_files[n]
        ngram_data = pd.read_csv(file_path)
        freq_column_name = f"{n}gram_freq"
        
        # Initialize the frequency column with NaN values
        dataframe[freq_column_name] = float('nan')
        
        # Iterate over the "word" column
        for index, row in dataframe.iterrows():
            word = row['word']
            
            # Check if the word has the expected number of words
            if len(word.split()) == n or '-' in word:
                # Look up the frequency in the ngram data
                matching_row = ngram_data[ngram_data['ngram'] == word]
                if not matching_row.empty:
                    frequency = matching_row.iloc[0]['freq']
                    dataframe.at[index, freq_column_name] = frequency
                    
                    # Print lines with 5gram data
                    if n == 2:
                        print(row)
    
    return dataframe

In [63]:
add_ngram_frequencies(data_frame)

ID                                          3Z8UJEJOCZEG603II1EL4BE2PV593A
sentence                 The Britain-based Syrian Observatory for Human...
start_index                                                             41
end_index                                                               53
word                                                          Human Rights
total_native                                                            10
total_non_native                                                        10
native_complex                                                           1
non_native_complex                                                       0
complex_binary                                                           1
complex_probabilistic                                                 0.05
1gram_freq                                                             NaN
2gram_freq                                                             NaN
Name: 73, dtype: object
ID                                          3FK4G712NX12VWKWHMFDTER49ZTSSW
sentence                 Still, the president vowed not to compromise t...
start_index                                                             71
end_index                                                               80
word                                                             sought to
total_native                                                            10
total_non_native                                                        10
native_complex                                                           1
non_native_complex                                                       0
complex_binary                                                           1
complex_probabilistic                                                 0.05
1gram_freq                                                             NaN
2gram_freq                                                             NaN
Name: 1057, dtype: object

,ID,sentence,start_index,end_index,word,total_native,total_non_native,native_complex,non_native_complex,complex_binary,complex_probabilistic,1gram_freq,2gram_freq,3gram_freq,4gram_freq,5gram_freq
0,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,7,13,troops,10,10,0,0,0,0.00,9406359.0,NaN,NaN,NaN,NaN
1,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,0,6,Syrian,10,10,0,0,0,0.00,NaN,NaN,NaN,NaN,NaN
2,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,14,21,shelled,10,10,6,10,1,0.80,NaN,NaN,NaN,NaN,NaN
3,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,24,34,rebel-held,10,10,4,3,1,0.35,NaN,NaN,NaN,NaN,NaN
4,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,51,59,sparking,10,10,5,5,1,0.50,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,128,132,past,10,10,0,0,0,0.00,54408849.0,NaN,NaN,NaN,NaN
1760,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,139,144,years,10,10,0,0,0,0.00,143354478.0,NaN,NaN,NaN,NaN
1761,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,157,166,estimated,10,10,2,2,1,0.20,10512066.0,NaN,NaN,NaN,NaN
1762,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,146,148,de,10,10,0,0,0,0.00,NaN,NaN,NaN,NaN,NaN
1763,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,149,156,Guindos,10,10,0,0,0,0.00,NaN,NaN,NaN,NaN,NaN

In [66]:
data_frame

,ID,sentence,start_index,end_index,word,total_native,total_non_native,native_complex,non_native_complex,complex_binary,complex_probabilistic,1gram_freq,2gram_freq,3gram_freq,4gram_freq,5gram_freq
0,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,7,13,troops,10,10,0,0,0,0.00,9117432.0,NaN,NaN,NaN,NaN
1,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,0,6,Syrian,10,10,0,0,0,0.00,1332000.0,NaN,NaN,NaN,NaN
2,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,14,21,shelled,10,10,6,10,1,0.80,247307.0,NaN,NaN,NaN,NaN
3,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,24,34,rebel-held,10,10,4,3,1,0.35,NaN,NaN,NaN,NaN,NaN
4,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,51,59,sparking,10,10,5,5,1,0.50,237429.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,128,132,past,10,10,0,0,0,0.00,52108492.0,NaN,NaN,NaN,NaN
1760,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,139,144,years,10,10,0,0,0,0.00,138881197.0,NaN,NaN,NaN,NaN
1761,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,157,166,estimated,10,10,2,2,1,0.20,9844477.0,NaN,NaN,NaN,NaN
1762,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,146,148,de,10,10,0,0,0,0.00,69513397.0,NaN,NaN,NaN,NaN
1763,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,149,156,Guindos,10,10,0,0,0,0.00,NaN,NaN,NaN,NaN,NaN

In [43]:
#This works for 1gram only 
import pandas as pd
import glob

def add_ngram_frequencies(dataframe):
    ngram_files = glob.glob("corpus/eng_Ngram_corpus/1grams/*.csv")
    
    for file_path in ngram_files:
        ngram_data = pd.read_csv(file_path)
        freq_column_name = "1gram_freq"
        
        # Extract the filename (ngram name) from the file path
        ngram_name = file_path.split("/")[-1].split(".")[0]
        
        # Iterate over the "word" column
        for index, row in dataframe.iterrows():
            word = row['word']
            
            # Look up the frequency in the ngram data
            matching_row = ngram_data[ngram_data['ngram'] == word]
            if not matching_row.empty:
                frequency = matching_row.iloc[0]['freq']
                dataframe.at[index, freq_column_name] = frequency
    
    return dataframe

In [44]:
add_ngram_frequencies(data_frame)

,ID,sentence,start_index,end_index,word,total_native,total_non_native,native_complex,non_native_complex,complex_binary,complex_probabilistic,1gram_freq,2gram_freq,3gram_freq,4gram_freq,5gram_freq,freq
0,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,7,13,troops,10,10,0,0,0,0.00,9117432.0,NaN,NaN,NaN,NaN,9406359.0
1,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,0,6,Syrian,10,10,0,0,0,0.00,1332000.0,NaN,NaN,NaN,NaN,NaN
2,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,14,21,shelled,10,10,6,10,1,0.80,247307.0,NaN,NaN,NaN,NaN,NaN
3,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,24,34,rebel-held,10,10,4,3,1,0.35,NaN,NaN,NaN,NaN,NaN,NaN
4,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,51,59,sparking,10,10,5,5,1,0.50,237429.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,128,132,past,10,10,0,0,0,0.00,52108492.0,NaN,NaN,NaN,NaN,54408849.0
1760,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,139,144,years,10,10,0,0,0,0.00,138881197.0,NaN,NaN,NaN,NaN,143354478.0
1761,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,157,166,estimated,10,10,2,2,1,0.20,9844477.0,NaN,NaN,NaN,NaN,10512066.0
1762,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,146,148,de,10,10,0,0,0,0.00,69513397.0,NaN,NaN,NaN,NaN,NaN
1763,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,149,156,Guindos,10,10,0,0,0,0.00,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
#Final code for word frequency

import pandas as pd
import glob

def add_ngram_frequencies(dataframe):
    ngram_files = {
        1: glob.glob("corpus/eng_Ngram_corpus/1grams/*.csv"),
        2: glob.glob("corpus/eng_Ngram_corpus/2grams/*.csv"),
        3: glob.glob("corpus/eng_Ngram_corpus/3grams/*.csv"),
        4: glob.glob("corpus/eng_Ngram_corpus/4grams/*.csv"),
        5: glob.glob("corpus/eng_Ngram_corpus/5grams/*.csv")
    }
    
    for n in range(1, 6):
        for file_path in ngram_files[n]:
            ngram_data = pd.read_csv(file_path)
            freq_column_name = f"{n}gram_freq"
            
            # Extract the filename (ngram name) from the file path
            ngram_name = file_path.split("/")[-1].split(".")[0]
            
            # Iterate over the "word" column
            for index, row in dataframe.iterrows():
                word = row['word']
                
                # Look up the frequency in the ngram data
                matching_row = ngram_data[ngram_data['ngram'] == word]
                if not matching_row.empty:
                    frequency = matching_row.iloc[0]['freq']
                    dataframe.at[index, freq_column_name] = frequency
    
    return dataframe

In [65]:
add_ngram_frequencies(data_frame)

,ID,sentence,start_index,end_index,word,total_native,total_non_native,native_complex,non_native_complex,complex_binary,complex_probabilistic,1gram_freq,2gram_freq,3gram_freq,4gram_freq,5gram_freq
0,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,7,13,troops,10,10,0,0,0,0.00,9117432.0,NaN,NaN,NaN,NaN
1,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,0,6,Syrian,10,10,0,0,0,0.00,1332000.0,NaN,NaN,NaN,NaN
2,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,14,21,shelled,10,10,6,10,1,0.80,247307.0,NaN,NaN,NaN,NaN
3,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,24,34,rebel-held,10,10,4,3,1,0.35,NaN,NaN,NaN,NaN,NaN
4,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,51,59,sparking,10,10,5,5,1,0.50,237429.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,128,132,past,10,10,0,0,0,0.00,52108492.0,NaN,NaN,NaN,NaN
1760,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,139,144,years,10,10,0,0,0,0.00,138881197.0,NaN,NaN,NaN,NaN
1761,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,157,166,estimated,10,10,2,2,1,0.20,9844477.0,NaN,NaN,NaN,NaN
1762,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,146,148,de,10,10,0,0,0,0.00,69513397.0,NaN,NaN,NaN,NaN
1763,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,149,156,Guindos,10,10,0,0,0,0.00,NaN,NaN,NaN,NaN,NaN

In [67]:
data_frame.to_csv('n_gram_test3.csv', index=False)

In [51]:
import pandas as pd
import glob
"""
The function iterates over the keys (ngram types) in the ngram_files dictionary.
For each ngram type, it iterates over the corresponding file paths from the ngram_files dictionary. 
For each file path, the ngram data is read, and the frequency column name (freq_column_name)
 and ngram column name (ngram_column_name) are set based on the ngram type.
 
The frequency column is initialized with NaN values to ensure all rows have consistent values.

The function then iterates over the "word" column of the dataframe. 
It performs a lookup in the ngram data using ngram_data[ngram_data[ngram_column_name] == word] 
to find the matching row. If a match is found, the frequency value from the corresponding row 
in the "freq" column is assigned to the corresponding row in the frequency column 
(freq_column_name) and the ngram word is assigned to the corresponding row in the ngram column (ngram_column_name).

"""
import pandas as pd
import glob

def add_ngram_frequencies(dataframe):
    ngram_files = {
        1: glob.glob("corpus/eng_Ngram_corpus/1grams/*.csv"),
        2: glob.glob("corpus/eng_Ngram_corpus/2grams/*.csv"),
        3: glob.glob("corpus/eng_Ngram_corpus/3grams/*.csv"),
        4: glob.glob("corpus/eng_Ngram_corpus/4grams/*.csv"),
        5: glob.glob("corpus/eng_Ngram_corpus/5grams/*.csv")
    }
    
    for n in range(1, 6):
        for file_path in ngram_files[n]:
            ngram_data = pd.read_csv(file_path)
            freq_column_name = f"{n}gram_freq"
            ngram_column_name = f"{n}gram"
            
            # Extract the filename (ngram name) from the file path
            ngram_name = file_path.split("/")[-1].split(".")[0]
            
            # Initialize the frequency column with NaN values
            dataframe[freq_column_name] = float('nan')
            
            # Iterate over the "word" column
            for index, row in dataframe.iterrows():
                word = row['word']
                
                # Look up the frequency in the ngram data
                matching_row = ngram_data[ngram_data['ngram'] == word]
                if not matching_row.empty:
                    frequency = matching_row.iloc[0]['freq']
                    dataframe.at[index, freq_column_name] = frequency
                    dataframe.at[index, ngram_column_name] = word
    
    return dataframe

In [52]:
add_ngram_frequencies(data_frame)

,ID,sentence,start_index,end_index,word,total_native,total_non_native,native_complex,non_native_complex,complex_binary,complex_probabilistic,1gram_freq,1gram
0,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,7,13,troops,10,10,0,0,0,0.00,NaN,troops
1,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,0,6,Syrian,10,10,0,0,0,0.00,NaN,Syrian
2,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,14,21,shelled,10,10,6,10,1,0.80,NaN,shelled
3,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,24,34,rebel-held,10,10,4,3,1,0.35,NaN,NaN
4,3Z8UJEJOCZEG603II1EL4BE2PV593A,Syrian troops shelled a rebel-held town on Mon...,51,59,sparking,10,10,5,5,1,0.50,NaN,sparking
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,128,132,past,10,10,0,0,0,0.00,NaN,past
1760,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,139,144,years,10,10,0,0,0,0.00,NaN,years
1761,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,157,166,estimated,10,10,2,2,1,0.20,NaN,estimated
1762,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,146,148,de,10,10,0,0,0,0.00,NaN,de
1763,37PGLWGSJT7FDZ4S71CXYQU7J7EIKD,The state will put less than 15 billion euros ...,149,156,Guindos,10,10,0,0,0,0.00,NaN,NaN

In [71]:
from textblob import TextBlob
from textblob.exceptions import NotTranslated

def assign_pos_tags(text):
    try:
        blob = TextBlob(text)
        blob = blob.translate(to='en')  # Translate text to English if needed
        pos_tags = blob.tags
        return pos_tags
    except NotTranslated:
        print("Unable to translate the text to English.")
    except Exception as e:
        print(f"An error occurred: {str(e)}")

# Example usage for a 3-gram
trigram = "example of text"
pos_tags = assign_pos_tags(trigram)
print(pos_tags)

# Example usage for a 4-gram
fourgram = "this is an example"
pos_tags = assign_pos_tags(fourgram)
print(pos_tags)

# Example usage for a 5-gram
fivegram = "this is an example sentence"
pos_tags = assign_pos_tags(fivegram)
print(pos_tags)

An error occurred: 'list' object has no attribute 'strip'
None
An error occurred: 'list' object has no attribute 'strip'
None
An error occurred: 'list' object has no attribute 'strip'
None

In [ ]:
import spacy

def assign_pos_tags(text):
    nlp = spacy.load('en_core_web_sm')
    doc = nlp(text)
    pos_tags = [(token.text, token.pos_) for token in doc]
    return pos_tags

# Example usage for a 3-gram
trigram = "example of text"
pos_tags = assign_pos_tags(trigram)
print(pos_tags)

# Example usage for a 4-gram
fourgram = "this is an example"
pos_tags = assign_pos_tags(fourgram)
print(pos_tags)

# Example usage for a 5-gram
fivegram = "this is an example sentence"
pos_tags = assign_pos_tags(fivegram)
print(pos_tags)